<div>
  <%= render 'shared/navbar' %>
  <div>
    <div class="banner" style="background-image: url('<%= cl_image_path @cocktail.photo, height: 300, width: 400, crop: :fill %>');">
      <div class="banner-content uptext">
        <h2><%= @cocktail.name %></h2>
        <% @cocktail.doses.each do |dose| %>
          <li><%= dose.description %> - <%= dose.ingredient.name %>
            <%= link_to dose, method: :delete do %>
            <i class="fa fa-trash"></i>
            <% end %>
          </li>
        <% end %>
        <%= link_to "New Dose", new_cocktail_dose_path(@cocktail) %>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="footer-links">
      <%= link_to "Cocktails", cocktails_path %>
      <a href="/"><i class="fa fa-glass-martini"></i></a>
      <a href="/"><i class="fal fa-trash-alt"></i></a>
    </div>
  </div>
</div>




